@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

p {
  margin-bottom: 0.5em;
  line-height: 2;
}

p:last-child {
  margin-bottom: 0;
}

p a {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #111;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:hover, a:link, a:active, a:focus {
  color: #111;
}

a:hover {
  opacity: 0.6;
}

body {
  background: #fff;
  color: #111;
  line-height: 2;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
}

main {
  padding: 100px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 1200px;
  margin: auto;
  gap: 60px;
}

@media only screen and (max-width: 850px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 100px 15px;
    max-width: 600px;
  }
}

main .profile {
  width: 250px;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

@media only screen and (max-width: 850px) {
  main .profile {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main .profile .icon {
  width: 150px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 500px) {
  main .profile .icon {
    width: 60px;
    margin: 0 auto 20px;
  }
}

main .profile .icon img {
  border: solid 1px #ddd;
  border-radius: 10px;
}

main .profile .txt_box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main .profile .txt_box ul.data {
  margin-bottom: 20px;
}

@media only screen and (max-width: 500px) {
  main .profile .txt_box ul.data {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 1em;
            column-gap: 1em;
  }
}

main .profile .txt_box ul.data li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.6em;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 0.5em;
}

@media only screen and (max-width: 500px) {
  main .profile .txt_box ul.data li {
    font-size: 12px;
  }
}

main .profile .txt_box ul.data li img {
  height: 1.3em;
  opacity: 0.5;
  margin-top: 0.2em;
}

main .profile .txt_box ul.data li span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main .profile .txt_box ul.sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 15px;
  border-top: solid 1px #ddd;
}

main .profile .txt_box ul.sns li img {
  opacity: 0.6;
  height: 1.2em;
}

main .content {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main .content ul li {
  font-size: 14px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5em 1fr 6em;
      grid-template-columns: 1.5em 1fr 6em;
  grid-column-gap: 1em;
  padding: 1em;
  border-bottom: solid 1px #ddd;
}

@media only screen and (max-width: 500px) {
  main .content ul li {
    -ms-grid-columns: 1.4em 1fr;
        grid-template-columns: 1.4em 1fr;
    -ms-grid-rows: auto 1fr;
        grid-template-rows: auto 1fr;
    gap: 0.5em;
    padding: 1em 0.5em;
  }
}

main .content ul li .icon {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  line-height: 0;
}

main .content ul li .icon img {
  height: 100%;
}

main .content ul li a {
  line-height: 1.6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
}

@media only screen and (max-width: 500px) {
  main .content ul li a {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 2 / 1 / 3 / 3;
  }
}

main .content ul li .day {
  font-size: 12px;
  color: #aaa;
  line-height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 2 / 4;
}

@media only screen and (max-width: 500px) {
  main .content ul li .day {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 2 / 3;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
/*# sourceMappingURL=style.css.map */