$color_white: #fff;
$color_black: #111;
$color_gray_l: #ddd;
$color_gray: #aaa;
$color_gray_d: #666;

$color_green_1: #d9e021;

$bp_XXL: 1600px;
$bp_XL: 1024px;
$bp_L: 768px;
$bp_M: 640px;
$bp_S: 420px;
$bp_XS: 320px;

// ================================
// リセット
// ================================
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}
p {
  margin-bottom: 0.5em;
  line-height: 2;
  &:last-child {
    margin-bottom: 0;
  }
  a {
    text-decoration: underline;
  }
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: $color_black;
  text-decoration: none;
  transition: 0.3s;
  &:hover,
  &:link,
  &:active,
  &:focus {
    color: $color_black;
  }
  &:hover {
    opacity: 0.6;
  }
}

// ================================
// ベース
// ================================
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap");
body {
  background: $color_white;
  color: $color_black;
  line-height: 2;
  font-family: "M PLUS Rounded 1c", sans-serif;
}
.pc {
  display: block;
  @media only screen and (max-width: $bp_S) {
    display: none;
  }
}
.sp {
  display: none;
  @media only screen and (max-width: $bp_S) {
    display: block;
  }
}

h2.heading01 {
  text-align: center;
  font-size: 35px;
  letter-spacing: 0.1em;
  font-weight: 700;
  line-height: 1.4;
  padding: 1em 0 0.5em;
  @media only screen and (max-width: $bp_S) {
    font-size: 24px;
  }
  span {
    font-size: 0.8em;
  }
  &::after {
    content: "";
    display: block;
    width: 100px;
    height: 8px;
    border-radius: 10em;
    background: $color_green_1;
    margin: 0.6em auto;
  }
}

.cv_area {
  background-image: url("../img/parts/cv_area/bg.png");
  background-size: cover;
  text-align: center;
  padding: 60px 15px;
  h2 {
    max-width: 700px;
    margin: auto;
  }
  .clm {
    max-width: 700px;
    margin: auto;
    display: flex;
    padding: 40px;
    background: $color_white;
    border-radius: 10px;
    @media only screen and (max-width: 400px) {
      padding: 20px;
      display: block;
    }
    .clm_l,
    .clm_r {
      flex: 1;
      padding: 0 10px;
    }
  }
  .comment {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
  }
}
